<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="basic">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="LR5_WCF.WCFSiplex" behaviorConfiguration="basic">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090/WCFSiplex.svc" />
						<add baseAddress="net.tcp://localhost:9091/WCFSiplex.svc" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="LR5_WCF.IWCFSiplex"
						  behaviorConfiguration="webBehavior"/>
				<endpoint name="http"
						  address="WCFSiplex"
						  binding="basicHttpBinding"
						  contract="LR5_WCF.IWCFSiplex" />
				<endpoint name="tcp"
						  address="net.tcp://localhost:9091/WCFSiplex.svc/TcpWCFSiplex"
						  binding="netTcpBinding"
						  contract="LR5_WCF.IWCFSiplex" />
				<!--конечные точки для обмена метаданными-->
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
				<endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="net.tcp://localhost:9091/WCFSiplex.svc/mexTcp" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
